body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: #333;
}

h1 {
    color: #0056b3;
}

a{
    color: #007bff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}