

{% extends "layout.html" %}

{% block content %}
    <div class="dashboard-grid">

        {% for link in navigation_links %}
            {# On n'affiche pas de carte pour le lien "Accueil" #}
            {% if link.url_endpoint != 'home' %}
                <a href="{{ url_for(link.url_endpoint) }}" class="card">
                    <h2><i class="{{ link.icon_class }}"></i> {{ link.name }}</h2>
                    <p>{{ link.description }}</p>
                </a>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}